*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}

/* ДЗ1 */

.title-first-work {
  color: #2e2f42;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.list-item-first-work {
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
